allow hal_audio_default unlabeled:file { open read };
allow hal_audio_default device:chr_file { ioctl } ;
allow hal_audio_default device:chr_file { open read write } ;
