allow hal_nfc_default nfc_data_file:file { read open } ;
allow hal_nfc_default nfc_data_file:file { read } ;
allow hal_nfc_default nfc_data_file:file { write } ;